Messanger/Connected Services/DataService/DataService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DataService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DataService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ConsumerContract">
    <xs:sequence>
      <xs:element minOccurs="0" name="AvatarId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastTimeOnline" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PhoneNumber" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ConsumerContract" nillable="true" type="tns:ConsumerContract" />
  <xs:complexType name="ContactContract">
    <xs:sequence>
      <xs:element minOccurs="0" name="ContactId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InitTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ContactContract" nillable="true" type="tns:ContactContract" />
  <xs:complexType name="DialogContract">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="InitDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="MultimediaId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OwnerId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DialogContract" nillable="true" type="tns:DialogContract" />
  <xs:complexType name="ArrayOfMessageContract">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MessageContract" nillable="true" type="tns:MessageContract" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMessageContract" nillable="true" type="tns:ArrayOfMessageContract" />
  <xs:complexType name="MessageContract">
    <xs:sequence>
      <xs:element minOccurs="0" name="Content" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DialogId" type="xs:int" />
      <xs:element minOccurs="0" name="HasMultimedia" type="xs:boolean" />
      <xs:element minOccurs="0" name="SenderId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Time" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Viewed" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MessageContract" nillable="true" type="tns:MessageContract" />
  <xs:complexType name="ArrayOfMultimediaContract">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MultimediaContract" nillable="true" type="tns:MultimediaContract" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMultimediaContract" nillable="true" type="tns:ArrayOfMultimediaContract" />
  <xs:complexType name="MultimediaContract">
    <xs:sequence>
      <xs:element minOccurs="0" name="Height" type="xs:int" />
      <xs:element minOccurs="0" name="RemotePath" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Width" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MultimediaContract" nillable="true" type="tns:MultimediaContract" />
  <xs:complexType name="ArrayOfConsumerContract">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ConsumerContract" nillable="true" type="tns:ConsumerContract" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfConsumerContract" nillable="true" type="tns:ArrayOfConsumerContract" />
  <xs:complexType name="ArrayOfDialogContract">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DialogContract" nillable="true" type="tns:DialogContract" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDialogContract" nillable="true" type="tns:ArrayOfDialogContract" />
</xs:schema>