Messanger/Connected Services/DataServiceRef/DataService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://services/dataservice/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://services/dataservice/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://services/dataservice/Imports">
      <xsd:import schemaLocation="http://localhost/wcfdata/DataService.svc?xsd=xsd0" namespace="http://services/dataservice/" />
      <xsd:import schemaLocation="http://localhost/wcfdata/DataService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost/wcfdata/DataService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DataService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IDataService_InsertConsumer_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertConsumer" />
  </wsdl:message>
  <wsdl:message name="IDataService_InsertConsumer_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertConsumerResponse" />
  </wsdl:message>
  <wsdl:message name="IDataService_InsertConsumerContact_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertConsumerContact" />
  </wsdl:message>
  <wsdl:message name="IDataService_InsertConsumerContact_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertConsumerContactResponse" />
  </wsdl:message>
  <wsdl:message name="IDataService_InsertDialog_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertDialog" />
  </wsdl:message>
  <wsdl:message name="IDataService_InsertDialog_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertDialogResponse" />
  </wsdl:message>
  <wsdl:message name="IDataService_InsertMessages_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertMessages" />
  </wsdl:message>
  <wsdl:message name="IDataService_InsertMessages_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertMessagesResponse" />
  </wsdl:message>
  <wsdl:message name="IDataService_InsertMultimedias_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertMultimedias" />
  </wsdl:message>
  <wsdl:message name="IDataService_InsertMultimedias_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertMultimediasResponse" />
  </wsdl:message>
  <wsdl:message name="IDataService_GetConsumerContactsById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetConsumerContactsById" />
  </wsdl:message>
  <wsdl:message name="IDataService_GetConsumerContactsById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetConsumerContactsByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IDataService_GetConsumerById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetConsumerById" />
  </wsdl:message>
  <wsdl:message name="IDataService_GetConsumerById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetConsumerByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IDataService_GetConsumersByMatchingNameWithOffsetAndLimit_InputMessage">
    <wsdl:part name="parameters" element="tns:GetConsumersByMatchingNameWithOffsetAndLimit" />
  </wsdl:message>
  <wsdl:message name="IDataService_GetConsumersByMatchingNameWithOffsetAndLimit_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetConsumersByMatchingNameWithOffsetAndLimitResponse" />
  </wsdl:message>
  <wsdl:message name="IDataService_GetDialogsByConsumerIdWithOffsetAndLimit_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDialogsByConsumerIdWithOffsetAndLimit" />
  </wsdl:message>
  <wsdl:message name="IDataService_GetDialogsByConsumerIdWithOffsetAndLimit_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDialogsByConsumerIdWithOffsetAndLimitResponse" />
  </wsdl:message>
  <wsdl:message name="IDataService_GetMessagesByDialogIdWithOffsetAndLimit_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMessagesByDialogIdWithOffsetAndLimit" />
  </wsdl:message>
  <wsdl:message name="IDataService_GetMessagesByDialogIdWithOffsetAndLimit_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMessagesByDialogIdWithOffsetAndLimitResponse" />
  </wsdl:message>
  <wsdl:message name="IDataService_GetAttachedMultimediasByMessageId_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAttachedMultimediasByMessageId" />
  </wsdl:message>
  <wsdl:message name="IDataService_GetAttachedMultimediasByMessageId_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAttachedMultimediasByMessageIdResponse" />
  </wsdl:message>
  <wsdl:message name="IDataService_GetMultimediaById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMultimediaById" />
  </wsdl:message>
  <wsdl:message name="IDataService_GetMultimediaById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMultimediaByIdResponse" />
  </wsdl:message>
  <wsdl:portType name="IDataService">
    <wsdl:operation name="InsertConsumer">
      <wsdl:input wsaw:Action="http://services/dataservice/IDataService/InsertConsumer" message="tns:IDataService_InsertConsumer_InputMessage" />
      <wsdl:output wsaw:Action="http://services/dataservice/IDataService/InsertConsumerResponse" message="tns:IDataService_InsertConsumer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertConsumerContact">
      <wsdl:input wsaw:Action="http://services/dataservice/IDataService/InsertConsumerContact" message="tns:IDataService_InsertConsumerContact_InputMessage" />
      <wsdl:output wsaw:Action="http://services/dataservice/IDataService/InsertConsumerContactResponse" message="tns:IDataService_InsertConsumerContact_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertDialog">
      <wsdl:input wsaw:Action="http://services/dataservice/IDataService/InsertDialog" message="tns:IDataService_InsertDialog_InputMessage" />
      <wsdl:output wsaw:Action="http://services/dataservice/IDataService/InsertDialogResponse" message="tns:IDataService_InsertDialog_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertMessages">
      <wsdl:input wsaw:Action="http://services/dataservice/IDataService/InsertMessages" message="tns:IDataService_InsertMessages_InputMessage" />
      <wsdl:output wsaw:Action="http://services/dataservice/IDataService/InsertMessagesResponse" message="tns:IDataService_InsertMessages_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertMultimedias">
      <wsdl:input wsaw:Action="http://services/dataservice/IDataService/InsertMultimedias" message="tns:IDataService_InsertMultimedias_InputMessage" />
      <wsdl:output wsaw:Action="http://services/dataservice/IDataService/InsertMultimediasResponse" message="tns:IDataService_InsertMultimedias_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetConsumerContactsById">
      <wsdl:input wsaw:Action="http://services/dataservice/IDataService/GetConsumerContactsById" message="tns:IDataService_GetConsumerContactsById_InputMessage" />
      <wsdl:output wsaw:Action="http://services/dataservice/IDataService/GetConsumerContactsByIdResponse" message="tns:IDataService_GetConsumerContactsById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetConsumerById">
      <wsdl:input wsaw:Action="http://services/dataservice/IDataService/GetConsumerById" message="tns:IDataService_GetConsumerById_InputMessage" />
      <wsdl:output wsaw:Action="http://services/dataservice/IDataService/GetConsumerByIdResponse" message="tns:IDataService_GetConsumerById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetConsumersByMatchingNameWithOffsetAndLimit">
      <wsdl:input wsaw:Action="http://services/dataservice/IDataService/GetConsumersByMatchingNameWithOffsetAndLimit" message="tns:IDataService_GetConsumersByMatchingNameWithOffsetAndLimit_InputMessage" />
      <wsdl:output wsaw:Action="http://services/dataservice/IDataService/GetConsumersByMatchingNameWithOffsetAndLimitResponse" message="tns:IDataService_GetConsumersByMatchingNameWithOffsetAndLimit_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDialogsByConsumerIdWithOffsetAndLimit">
      <wsdl:input wsaw:Action="http://services/dataservice/IDataService/GetDialogsByConsumerIdWithOffsetAndLimit" message="tns:IDataService_GetDialogsByConsumerIdWithOffsetAndLimit_InputMessage" />
      <wsdl:output wsaw:Action="http://services/dataservice/IDataService/GetDialogsByConsumerIdWithOffsetAndLimitResponse" message="tns:IDataService_GetDialogsByConsumerIdWithOffsetAndLimit_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMessagesByDialogIdWithOffsetAndLimit">
      <wsdl:input wsaw:Action="http://services/dataservice/IDataService/GetMessagesByDialogIdWithOffsetAndLimit" message="tns:IDataService_GetMessagesByDialogIdWithOffsetAndLimit_InputMessage" />
      <wsdl:output wsaw:Action="http://services/dataservice/IDataService/GetMessagesByDialogIdWithOffsetAndLimitResponse" message="tns:IDataService_GetMessagesByDialogIdWithOffsetAndLimit_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAttachedMultimediasByMessageId">
      <wsdl:input wsaw:Action="http://services/dataservice/IDataService/GetAttachedMultimediasByMessageId" message="tns:IDataService_GetAttachedMultimediasByMessageId_InputMessage" />
      <wsdl:output wsaw:Action="http://services/dataservice/IDataService/GetAttachedMultimediasByMessageIdResponse" message="tns:IDataService_GetAttachedMultimediasByMessageId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMultimediaById">
      <wsdl:input wsaw:Action="http://services/dataservice/IDataService/GetMultimediaById" message="tns:IDataService_GetMultimediaById_InputMessage" />
      <wsdl:output wsaw:Action="http://services/dataservice/IDataService/GetMultimediaByIdResponse" message="tns:IDataService_GetMultimediaById_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>